annotated-types
anyio
bcrypt
click
colorama
dnspython
email-validator
fastapi
greenlet
h11
idna
mysql-connector-python
passlib
protobuf
pydantic
pydantic_core
python-multipart
sniffio
SQLAlchemy
starlette
typing_extensions
uvicorn
